@font-face {
  font-family: yofont;
  src: url("/mobiletask/images/iconfont/iconfont.woff") format("woff"), url("/mobiletask/images/iconfont/iconfont.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/mobiletask/images/iconfont/iconfontmenu.woff") format("woff"), url("/mobiletask/images/iconfont/iconfontmenu.ttf") format("truetype");
}

@font-face {
font-family: yofont;
src: url("/mobiletask/images/iconfont/iconfont-back.woff") format("woff"), url("/mobiletask/images/iconfont/iconfont-back.ttf") format("truetype");
}